<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="../static/js/main.js" defer></script>
    <title>SkillSift</title>
</head>
<body>
    <header>
        <h1>SkillSift</h1>
        <p>Your destination for skill analysis and matching!</p>
    </header>
    <main>
        <section id="about-privacy">
            <button id="about">About</button>
                <div id="aboutInfo">
                    <button class="closePopup">X</button>
                    Welcome to <strong>SkillSift</strong> - Your Destination for Skill Analysis and Matching!<br><br>
                    At SkillSift, our mission is to empower individuals by providing insightful skill analysis based on their resumes. We understand the importance of showcasing your unique strengths, and our platform is designed to help you uncover and highlight your key skills.<br><br>
                    Whether you're exploring new career opportunities or aiming to enhance your professional profile, SkillSift is here to assist you on your journey. Upload your resume, and let us analyze and present your skills in a meaningful way.<br><br>
                    <strong>SkillSift</strong> - Unleash Your Potential!
                </div>
            <button id="privacy">Privacy</button>
                <div id="privacyInfo">
                    <button class="closePopup">X</button>
                    <strong>Our Commitment to Your Privacy</strong><br>
                    At SkillSift, we prioritize and respect your privacy. We want to assure you that we take the utmost care in handling your sensitive information.<br><br>
                    <strong>Resume Processing:</strong><br>
                    When you upload your resume, rest assured that we do not store it on our servers. Our platform processes your resume in real-time, extracting relevant skills to provide you with accurate insights. Once the analysis is complete, your resume is immediately removed from our system.<br><br>
                    <strong>Secure Handling:</strong><br>
                    We implement industry-standard security measures to safeguard your data during the entire process. Our commitment is to ensure the confidentiality and privacy of your information.<br><br>
                    <strong>No Account Required:</strong><br>
                    SkillSift is designed with simplicity in mind. We do not require users to create accounts, eliminating the need for unnecessary data storage. Your experience with SkillSift is hassle-free and focused on delivering valuable insights without compromising your privacy.<br><br>
                    Trust SkillSift for skill analysis that respects your privacy and puts you in control.
                </div>
        </section>
        <section id="file-upload">
            <h3>Upload your resume below!</h3>
            <div id="drop-area">
                <p>Drag and drop your resume here</p>
                <p id="smaller-txt">Supported file types include .pdf, .doc, .docx and .txt</p>
            </div>
            <div id="file-explorer">
                <p>Alternatively, navigate to your resume below:</p>
                <input type="file" id="resumeInput" accept=".pdf, .doc, .docx, .txt" onchange="handleFileSelect()">
                <label for="resumeInput"></label>
                <button id="removeFile">X</button>
            </div>
            <button id="submit">Submit</button>
        </section>
        <footer>
            <p>&copy; 2024 SkillSift. All rights reserved.</p>
            <p><a href="https://www.digitalprofession.gov.au/guides-and-resources/skills-framework-information-age">Powered by SFIA-AU</a></p>
        </footer>
    </main>
</body>
</html>